<a href="https://colab.research.google.com/github/Anku192/AIML-class/blob/main/ML_Lab_Experiment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Lab Experiment 02
**Objective:** Perform various data preprocessing techniques like handling outliers and encoding categorical variables
<hr>

#### üßë‚Äçüéì Student Details

| Field                | Information                |
|---------------------|----------------------------|
| üë®‚Äçüéì **Name**            | _[Ankur P B]_     |
| üÜî **USN**              | _[1RUA24CSE0059]_           |
| **Section**        | _[A section]_ |
| **Programme**   | B.Tech(H)             |
| **School**  | Computer Science and Engineering |

In [1]:
import platform
import psutil
from datetime import datetime
import sys
import getpass
import os

# Timestamp
timestamp = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
# System Information
system_info = {
    "User Name": getpass.getuser(),
    "Timestamp": timestamp,
    "OS": platform.system() + " " + platform.release(),
    "Processor": platform.processor(),
    "RAM (GB)": round(psutil.virtual_memory().total / (1024 ** 3), 2),
    "Python Version": platform.python_version(),
    "Working Directory": os.getcwd()
}
# Print formatted results
print("üßë‚Äçüíª System Details\n" + "-"*40)
for key, value in system_info.items():
    print(f"{key:20}: {value}")

üßë‚Äçüíª System Details
----------------------------------------
User Name           : root
Timestamp           : 2025-08-21 04:00:10
OS                  : Linux 6.1.123+
Processor           : x86_64
RAM (GB)            : 12.67
Python Version      : 3.12.11
Working Directory   : /content

### Student Tasks
<hr>

##### Learning Objectives

1. Identify and treat outliers in structured datasets using statistical methods.
2. Encode categorical data into numerical methods that machine learning models can interpret.
3. Use Label Encoding and One-Hot Encoding using `scikit-learn`.
4. Improve data quality through encoding and outlier handling.

**Step 01:**
- Import pandas, numpy, scikit-learn, matplotlib, seaborn, and other required libraries for linear regression analysis.

In [2]:
# [ Edit t

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

**Step 02:**
- Load the dataset (CSV format is recommended) using pandas and perform initial data exploration.

In [4]:
# [ Edit this cell ] Write your code below this line
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**Step 03:**
- Detect and visualize outliers using boxplot visualization.

In [7]:
# [ Edit this cell ] Write your code below this line

df = pd.read_csv('titanic.csv')
df.shape
df.describe()
df.info()
print(df.info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
<bound method DataFrame.info of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                                Heikkinen, Miss Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                        Graham, Miss Margaret Edith  female  19.0      0
888            Johnston, Miss Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>

**Step 04:**
- Perform the Statistical Outlier Detection (Z-score).
1. Z-Score = 0: A Z-score of 0 indicates that the data point is exactly at the mean of the distribution.
2. Positive Z-Score: A positive Z-score indicates that the data point is above the mean. For example, a Z-score of 1.5 means the data point is 1.5 standard deviations above the mean.
3. Negative Z-Score: A negative Z-score indicates that the data point is below the mean. For example, a Z-score of -2 means the data point is 2 standard deviations below the mean.
4. Magnitude of Z-Score: The magnitude of the Z-score shows how far away the data point is from the mean. A larger absolute value of the Z-score indicates that the data point is farther from the mean, while a smaller absolute value indicates it is closer.

**Common Thresholds**.
1. Z-Score > 2 or < -2: Often considered unusual or significant, indicating the data point is more than 2 standard deviations away from the mean.
2. Z-Score > 3 or < -3: Typically considered an outlier, suggesting the data point is extremely far from the mean.

In [14]:
# [ Edit this cell ] Write your code below this line
mean_age = df['Age'].mean()
std_age = df['Age'].std()
print(mean_age)
print(std_age)

29.69911764705882
14.526497332334044

**Step 05:**
- Encode Categorical Variables: Label encoding

In [20]:
# [ Edit this cell ] Write your code below this line
le = LabelEncoder()
df['Sex_encoded'] = le.fit_transform(df['Sex'])
df['Embarked_encoded'] = le.fit_transform(df['Embarked'])

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex_encoded, Length: 891, dtype: int64
0      2
1      0
2      2
3      2
4      2
      ..
886    2
887    2
888    2
889    0
890    1
Name: Embarked_encoded, Length: 891, dtype: int64

In [19]:
print(df['Sex_encoded'])
print(df['Embarked_encoded'])

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex_encoded, Length: 891, dtype: int64
0      2
1      0
2      2
3      2
4      2
      ..
886    2
887    2
888    2
889    0
890    1
Name: Embarked_encoded, Length: 891, dtype: int64

In [21]:
le = LabelEncoder()
df['Pclass_encoded'] = le.fit_transform(df['Pclass'])
print(df['Pclass'])

0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: int64

**Step 06:**
- Encode Categorical Variables: One-Hot Encoding

In [23]:
# [ Edit this cell ] Write your code below this line

df = pd.get_dummies(df, columns=['Survived', 'Age'])
df.head()

,PassengerId,Pclass,Name,SibSp,Parch,Ticket,Fare,Cabin,Age_Zscore,Sex_encoded,...,Age_62.0,Age_63.0,Age_64.0,Age_65.0,Age_66.0,Age_70.0,Age_70.5,Age_71.0,Age_74.0,Age_80.0
0,1,3,"Braund, Mr. Owen Harris",1,0,A/5 21171,7.2500,NaN,-0.530005,1,...,False,False,False,False,False,False,False,False,False,False
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,0,PC 17599,71.2833,C85,0.571430,0,...,False,False,False,False,False,False,False,False,False,False
2,3,3,"Heikkinen, Miss Laina",0,0,STON/O2. 3101282,7.9250,NaN,-0.254646,0,...,False,False,False,False,False,False,False,False,False,False
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,0,113803,53.1000,C123,0.364911,0,...,False,False,False,False,False,False,False,False,False,False
4,5,3,"Allen, Mr. William Henry",0,0,373450,8.0500,NaN,0.364911,1,...,False,False,False,False,False,False,False,False,False,False

In [26]:
# [ Edit this cell ] Write your code below this line
df = pd.read_csv('titanic.csv')
embarked_encoding = pd.get_dummies(df, columns = ['Embarked'])
embarked_encoding.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,False,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,True,False,False
2,3,1,3,"Heikkinen, Miss Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,False,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,False,False,True
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,False,False,True

**Step 07:**
- Save Cleaned & Encoded Dataset to your system..

In [ ]:
# [ Edit this cell ] Write your code below this line
embarked_encoding.to_csv('titanic_cleaned_encoded.csv', index=False)
print("Cleaned and encoded dataset saved as 'titanic_cleaned_encoded.csv'")

In [28]:
cleaned_data = embarked_encoding.to_csv('Cleaned_data.csv',index = False)

### ‚úÖ Rubric: Data Preprocessing 02 (10 Marks)
<hr>

**For Course Instructor Use**

A rubric for accessing experiment focused on outlier handling and categorical data encoding.

| **Criteria**                     | **Description**                                                                                         | **Max Marks** | **Marks Obtained** |
|----------------------------------|---------------------------------------------------------------------------------------------------------|---------------|---------------------|
| **Outlier Detection & Removal**  | Visual identification via plots; accurate usage of Z-score method to filter outliers.                   |      3        |                     |
| **Categorical Encoding**         | Proper application of Label Encoding for binary data and One-Hot Encoding for nominal data.             |      3        |                     |
| **Code Quality & Execution**     | Code runs without errors, is well-organized, and follows best practices; outputs are clearly displayed. |      2        |                     |
| **Documentation & Viva Insight** | Brief comments, explanations, and ability to answer questions during viva on technique choices.         |      2        |                     |

**Marks Obtained: ______ / 10**

<hr>

**Course Instructor Signature:** ____________________

##### Link for pandoc - Download the Software for export PDF for submission in GCR
https://github.com/jgm/pandoc/releases/tag/3.7.0.2