<a href="https://colab.research.google.com/github/Anku192/AIML-class/blob/main/USN_ML_Lab_Experiment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Lab Experiment 01
**Objective:** Perform various data preprocessing techniques like handling missing data and feature scaling.
<hr>

#### üßë‚Äçüéì Student Details

| Field                | Information                |
|---------------------|----------------------------|
| üë®‚Äçüéì **Name**            | _[Ankur Prashant Balse]_     |
| üÜî **USN**              | _[1RUA24CSE0059]_           |
| **Section**        | _[A section]_ |
| **Programme**   | B.Tech(computer science, AIML)             |
| **School**  | Computer Science and Engineering |

In [ ]:
import platform
import psutil
from datetime import datetime
import sys
import getpass
import os

# Timestamp
timestamp = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
# System Information
system_info = {
    "User Name": getpass.getuser(),
    "Timestamp": timestamp,
    "OS": platform.system() + " " + platform.release(),
    "Processor": platform.processor(),
    "RAM (GB)": round(psutil.virtual_memory().total / (1024 ** 3), 2),
    "Python Version": platform.python_version(),
    "Working Directory": os.getcwd()
}
# Print formatted results
print("üßë‚Äçüíª System Details\n" + "-"*40)
for key, value in system_info.items():
    print(f"{key:20}: {value}")

üßë‚Äçüíª System Details
----------------------------------------
User Name           : root
Timestamp           : 2025-08-14 04:10:46
OS                  : Linux 6.1.123+
Processor           : x86_64
RAM (GB)            : 12.67
Python Version      : 3.11.13
Working Directory   : /content

### Student Tasks
<hr>

**Step 01:**
- Import necessary Python libraries for data handling and preprocessing.

In [26]:
import platform
import psutil
from datetime import datetime
import sys
import getpass
import os
# Timestamp
timestamp = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
# System Information
system_info = {
"User Name": getpass.getuser(),
"Timestamp": timestamp,
"OS": platform.system() + " " + platform.release(),
"Processor": platform.processor(),
"RAM (GB)": round(psutil.virtual_memory().total / (1024 ** 3), 2),
"Python Version": platform.python_version(),
"Working Directory": os.getcwd()
}
# Print formatted results
print("System Details\n" + "-"*40)
for key, value in system_info.items():print(f"{key:20}: {value}")

System Details
----------------------------------------
User Name           : root
Timestamp           : 2025-08-14 05:20:22
OS                  : Linux 6.1.123+
Processor           : x86_64
RAM (GB)            : 12.67
Python Version      : 3.11.13
Working Directory   : /content

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, MinMaxScaler

**Step 02:**
- Load the dataset (CSV format is recommended) using pandas..

In [28]:
# [ Edit this cell ] Write your code below this line

df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**Step 03:**
- Explore the dataset: check shape, data types, sample rows, summary statistics, etc.

In [29]:
# [ Edit this cell ] Write your code below this line

# 1. Shape of dataset (rows, columns)
print("Shape of dataset:", df.shape)
# 2. Data types of each column
print("\nData types:\n", df.dtypes)
# 3. First few rows (peek at data)
print("\nFirst 5 rows:\n", df.head(2))

Shape of dataset: (891, 12)

Data types:
 PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

First 5 rows:
    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1

   Parch     Ticket     Fare Cabin Embarked
0      0  A/5 21171   7.2500   NaN        S
1      0   PC 17599  71.2833   C85        C

In [30]:
print("\nSummary statistics:\n", df.describe())

Summary statistics:
        PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

**Step 04:**
- Detect missing values and any obvious anomalies (e.g., out-of-range values)..

In [31]:
# [ Edit this cell ] Write your code below this line

missing_counts = df.isnull().sum()
print("Missing Values:\n", pd.DataFrame({'Count': missing_counts}))

Missing Values:
              Count
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2

In [32]:
numeric_cols = df.select_dtypes(include=np.number).columns
# ---- 1. Handle Missing Values ----
# Numeric: Impute with median (less sensitive to outliers)
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())

print(numeric_cols)
# Priniting the Cleaned Data
print("New dataset shape:", df.shape)
print("Remaining missing values:\n", df.isnull().sum())

Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')
New dataset shape: (891, 12)
Remaining missing values:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64


**Step 05:**
- Choose and perform strategies such as mean/median imputation or removal..

In [33]:
# Strategy 1: Drop rows with missing values (if few missing values)

# Separate numeric and categorical columns
numeric_cols = df.select_dtypes(include=np.number).columns
# ---- 1. Handle Missing Values ----
# Numeric: Impute with median (less sensitive to outliers)
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())

print(numeric_cols)
# Priniting the Cleaned Data
print("New dataset shape:", df.shape)
print("Remaining missing values:\n", df.isnull().sum())

Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')
New dataset shape: (891, 12)
Remaining missing values:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

**Step 06:**
- Choose and perform strategies such as mean/median imputation or removal..

In [36]:
# [ Edit this cell ] Write your code below this line

categorical_cols = df.select_dtypes(exclude=np.number).columns
# Categorical: Impute with most frequent value (mode)
for col in categorical_cols:
  if df[col].isnull().sum() > 0:
    df[col] = df[col].fillna(df[col].mode()[0])
print(categorical_cols)
print("New dataset shape:", df.shape)
print("Remaining missing values:\n", df.isnull().sum())

print("\nData after handling categorical variables:")
print(df.head())

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')
New dataset shape: (891, 12)
Remaining missing values:
 PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

Data after handling categorical variables:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                              Heikkinen, Miss Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare    Cabin Embarked
0      0         A/5 21171   7.2500  B96 B98        S
1      0          PC 17599  71.2833      C85        C
2      0  STON/O2. 3101282   7.9250  B96 B98        S
3      0            113803  53.1000     C123        S
4      0            373450   8.0500  B96 B98        S

**Step 07:**
- Standardize or normalize your numeric columns..

In [41]:
numeric_cols = df.select_dtypes(include='number').columns
# ===== 1. Standardization =====
scaler_standard = StandardScaler()
df_standardized = df.copy()
df_standardized[numeric_cols] = scaler_standard.fit_transform(df_standardized[numeric_cols])
print("Standardization complete. Example preview:")
print(df_standardized[numeric_cols].head())

Standardization complete. Example preview:
   PassengerId  Survived    Pclass       Age     SibSp     Parch      Fare
0    -1.730108 -0.789272  0.827377 -0.565736  0.432793 -0.473674 -0.502445
1    -1.726220  1.266990 -1.566107  0.663861  0.432793 -0.473674  0.786845
2    -1.722332  1.266990  0.827377 -0.258337 -0.474545 -0.473674 -0.488854
3    -1.718444  1.266990 -1.566107  0.433312  0.432793 -0.473674  0.420730
4    -1.714556 -0.789272  0.827377  0.433312 -0.474545 -0.473674 -0.486337

In [40]:
scaler_minmax = MinMaxScaler()
df_normalized = df.copy()
df_normalized[numeric_cols] = scaler_minmax.fit_transform(df_normalized[numeric_cols])
print("\nNormalization complete. Example preview:")
print(df_normalized[numeric_cols].head())

Normalization complete. Example preview:
   PassengerId  Survived  Pclass       Age  SibSp  Parch      Fare
0     0.000000       0.0     1.0  0.271174  0.125    0.0  0.014151
1     0.001124       1.0     0.0  0.472229  0.125    0.0  0.139136
2     0.002247       1.0     1.0  0.321438  0.000    0.0  0.015469
3     0.003371       1.0     0.0  0.434531  0.125    0.0  0.103644
4     0.004494       0.0     1.0  0.434531  0.000    0.0  0.015713

**Step 08:**
- Assign your input features to one variable (e.g., `X`) and output/target to another (e.g., `y`)..

In [42]:
# [ Edit this cell ] Write your code below this line
target_column = 'Survived' # <-- Replace with your actual target column
# Features (X) -> all columns except target
X = df.drop(columns=[target_column])
# Target (y) -> only the target column
y = df[target_column]
print("Features and target assigned.")
print("Shape of X:", X.shape)
print("Shape of y:", y.shape)

print("\nX preview:\n", X.head())
print("\ny preview:\n", y.head())

Features and target assigned.
Shape of X: (891, 11)
Shape of y: (891,)

X preview:
    PassengerId  Pclass                                               Name  \
0            1       3                            Braund, Mr. Owen Harris
1            2       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2            3       3                              Heikkinen, Miss Laina
3            4       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4            5       3                           Allen, Mr. William Henry

      Sex   Age  SibSp  Parch            Ticket     Fare    Cabin Embarked
0    male  22.0      1      0         A/5 21171   7.2500  B96 B98        S
1  female  38.0      1      0          PC 17599  71.2833      C85        C
2  female  26.0      0      0  STON/O2. 3101282   7.9250  B96 B98        S
3  female  35.0      1      0            113803  53.1000     C123        S
4    male  35.0      0      0            373450   8.0500  B96 B98        S

y preview:
 0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

**Step 09:**
- Save the pre-processed/clean dataset as a CSV file to your system..

In [43]:
# Save the pre-processed dataset to a new CSV file
df.to_csv('titanic_preprocessed.csv', index=False)

print("Pre-processed dataset saved to 'titanic_preprocessed.csv'")

Pre-processed dataset saved to 'titanic_preprocessed.csv'

#### ‚úÖ Rubric: Data Preprocessing (10 Marks)
<hr>

**For Course Instructor Use**

Rubric for assessing an experiment involving missing data handling and feature scaling.

| **Criteria**                  | **Description**                                                                                        | **Max Marks** | **Marks Obtained** |
|------------------------------|--------------------------------------------------------------------------------------------------------|---------------|---------------------|
| **Missing Data Handling**     | Correct identification of missing values and application of an appropriate handling method, with basic justification. |      3        |                     |
| **Feature Scaling**           | Appropriate scaling method selected and correctly applied, with a brief explanation.                  |      3        |                     |
| **Code Implementation**       | Code is functional and syntactically correct, with clear output demonstrating preprocessing steps.     |      2        |                     |
| **Clarity, Insight & Viva**   | Clear justification of technique choices, reflection on preprocessing impact, and confident viva responses. |      2        |                     |

**Marks Obtained: ______ / 10**

<hr>

**Course Instructor Signature:** ____________________

##### Link for pandoc - Download the Software for export PDF for submission in GCR
https://github.com/jgm/pandoc/releases/tag/3.7.0.2